@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakims Livs</title>
    <link rel="stylesheet" href="Foundation.css">
</head>

<body>
    <form>
        <div id="middle">
            <div id="sticky">
                @foreach (var category in Model.Categories)
            {
                <button id="categorybutton" type="submit">@category</button>
            }
            </div>
            <div id="base">
                <p>hejfhsjfhsekfjsef</p>
            </div>
        </div>

        <div id="top">
            <h1>Hakims Livs</h1>
            <input type="text" id="start" placeholder="Search" autofocus>
            <button type="submit" asp-page="/Login">Login</button>
            <button type="submit" asp-page="/Checkout">Checkout</button>
            <a href="/Products"><button type="submit">Products</button></a>
        </div>
    </form>
    <footer id="bottom">
        <p>Hakim Livs info</p>
    </footer>
</body>
</html>
