@page
@model HakimsLivs.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/ProductPage.css">

<h1>Lista över kunder</h1>

<div class=flexboxTableCustomer>
    @foreach(var user in Model.Customer) { 
    <table>
        <tbody>
            <tr>
                <td class="tdCustomer">
                    <b>Användarnamn:</b> @Html.DisplayFor(modeluser => user.UserName)
                </td>
                <td class="tdCustomer">
                    <b>Email:</b> @Html.DisplayFor(modeluser => user.Email)
                </td>
            </tr>
        </tbody>
    </table>
    }
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
